*.o
*.out
*.npy
*.sif

.vscode/
turbulent_laminar_search/
/cpp/build/**
legacy/
bif_data/
Python-3.12.0
eigen3
eigen-3.4.0.tar.gz
Python-3.12.0.tgz

!initials/*
!average_time_para/*
!max_time_para/*
!distribution/*
!error_growth/*
!error_growth/assemble/*
!.gitkeep

*.DS_Store
*.ipynb_checkpoints
