*.o
*.out
*.npy
.vscode/
CMakeCache.txt
*.DS_Store
*.ipynb_checkpoints
turbulent_laminar_search/
build/
legacy/


!initials/*
!average_time_para/*
!max_time_para/*
!distribution/*
initials/.DS_Store
max_time_para/.DS_Store
average_time_para/.DS_Store
distribution/.DS_Store
